.header{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #FF8C00;
    padding-bottom: 1%;
}
.footer{
    background-color:#FF8C00
}
.drp_menu{
    background-color: orange;
    border-radius:0px 5px 5px 5px;
    text-align:right;
    padding:3%
}
.carik_grey {
    text-align: right;
    position: relative;
    float: left;
    display: block

}
.carik_orange {
    text-align: center;
    position: relative;
    float: left;
    display: block

}
.carik_white{
    text-align: right;
    position: relative;
    float: left;
    display: block;
}
.drb_reg {
    background-color: #FF8C00;
    border-radius: 5%;

}
.bg_img_car{
    background-image: url(/img/Red-D3D-CARDEV2-2.jpg);
    background-size: cover;
    background-position: center;
    height: 40%
}
.img_srg{
    background-image: url(/img/magnifying-glass.svg) ;
    background-repeat: no-repeat;
    background-size:15px 15px;
    background-position: right;
    padding-right: 2px;

}
.search_colm{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #FF8C00;
    padding-bottom: 1%;
}
